@import url('https://fonts.googleapis.com/css?family=Poppins:300,500&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: #fefefe;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 50px;
}

.container {
	width: 1200px;
	margin: auto;
	max-width: 100%;
}

h1 {
	text-align: center;
}

h2 {
	position: relative;
}

h2::after {
	content: '';
	background-color: #000;
	border-radius: 10px;
	position: absolute;
	bottom: -5px;
	left: 0;
	height: 4px;
	width: 70px;
}

ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	padding: 0;
}

ul li {
	background-color: #fff;
	box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
	margin: 20px;
	width: 350px;
}

ul li a {
	color: #000;
	text-decoration: none;
}

ul li img {
	display: block;
	object-fit: cover;
	margin-bottom: 15px;
	transition: transform 0.3s ease;
	height: 200px;
	width: 350px;
}

ul li p {
	font-weight: bold;
	padding: 0 15px;
}

.links-container {
	padding: 15px;
	margin-top: 40px;
}

.links-container a {
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	text-decoration: none;
	margin-right: 5px;
	height: 35px;
	width: 35px;
	transition: transform 0.3s ease;
}

.links-container a.blue {
	background-color: #34a0e9;
}

.links-container a.youtube {
	background-color: #ea0000;
}

.links-container a:hover {
	transform: scale(1.2);
}

footer {
	background-color: #222;
	color: #fff;
	font-size: 18px;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 10px;
	width: 100%;
	text-align: center;
}

footer a {
	color: #fff;
}

footer i {
	color: red;
}
